<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
                defer></script>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
        {% block extra_css %}
        {% endblock extra_css %}
        <title>Lab Link |
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        {% include "navbar.html" %}
        {% include "sidenav.html" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <script>const preloaderHtml = `{% include 'preloader.html' with subtext=True %}`;</script>
        <script src="{% static 'scripts/script.js' %}" type="module"></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
