# Ansible ignore entries
ansible/artifacts/
ssh_key
*.pub
.ssh/
ansible/inventory/*
# Django project ignore entries
*.pyc
*.pyo
__pycache__/
*.sqlite3
/static/
/media/
.venv
**/env/*
add_key.sh
migrations
.pytest_cache