<!--  prettier-ignore  -->
{% extends 'main.html' %} 
{% load static %} 
{% block content %}
<div class="host-page">
	<div class="options-container hide">
		<span class="options-title left-align">Options</span>
		<a class="open-terminal waves-effect btn"
			>Open a terminal
			<i class="material-icons left">web_asset</i>
		</a>
		<a class="shutdown-host waves-effect btn"
			>Shutdown this PC
			<i class="material-icons left">power_settings_new</i>
		</a>
		<a class="refresh-host waves-effect btn"
			>Refresh List
			<i class="material-icons left">refresh</i>
		</a>
	</div>
	<div>
		<div class="row">
			<div class="col s8 offset-s1">
				<div class="host-container"></div>
				<div class="terminal"></div>
			</div>
		</div>
	</div>
</div>
<link href="https://cdn.jsdelivr.net/npm/xterm@5.3.0/css/xterm.min.css" rel="stylesheet" />
<script src="{% static 'scripts/host.js' %}" type="module" defer></script>
<script src="{% static 'scripts/terminal.js' %}" type="module" defer></script>
<script>
	const hostId = "{{ host_id }}";
	const preloaderHtml = `{% include 'preloader.html' with subtext=True %}`;
</script>
{% endblock content %}

