.applications-container {
	padding-left: 5rem;
	padding-right: 5rem;
}

.table-container {
	overflow-x: scroll;
}

.apps-table th,
.apps-table td {
	padding: 10px;
}

.apps-table > tbody > tr:hover {
	background-color: var(--highlight);
}

.apps-table > thead > tr:first-child > th:not(:last-child) {
	border-right: 1px solid var(--sbc);
}

.apps-table > thead > tr:last-child > th:nth-of-type(even):not(:last-child) {
	border-right: 1px solid var(--sbc);
}

.apps-table > tbody > tr > td:nth-of-type(odd):not(:last-child) {
	border-right: 1px solid var(--sbc);
}

