.applications-container {
	padding-left: 5rem;
	padding-right: 5rem;
}

.table-container {
	overflow-x: scroll;
}

.apps-table th,
.apps-table td {
	padding: 10px;
}

.apps-table tbody tr {
	transition: background-color 0.2s ease-out;
}

.apps-table > tbody > tr:hover {
	background-color: var(--highlight);
}

.go-up,
.go-down {
	background-color: var(--sbc);
	height: 40px;
	width: 40px;
	display: grid;
	place-items: center;
	cursor: pointer;
	border-radius: 50%;
}

.arrow-containers {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	right: 1rem;
	bottom: 3rem;
}

.apps-table > thead > tr:first-child > th:not(:last-child) {
	border-right: 1px solid var(--sbc);
}

.apps-table > thead > tr:last-child > th:nth-of-type(even):not(:last-child) {
	border-right: 1px solid var(--sbc);
}

.apps-table > tbody > tr > td:nth-of-type(odd):not(:last-child) {
	border-right: 1px solid var(--sbc);
}

