.check-row.checked {
	background-color: var(--selected);
	color: var(--ptc);
}

.counter {
	height: calc(1rem + 5px);
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: var(--sbc);
	color: var(--ptc);
	display: flex;
	justify-content: flex-end;
	padding-right: 2rem;
	color: var(--stc);
}

.count {
	margin-right: 5px;
}

.search-cancel {
	cursor: pointer;
}

tbody.apps-table-body > tr > td:first-child,
table.apps-table > thead > tr > th:first-child {
	width: 50px;
	padding-left: 25px;
}

tbody.apps-table-body > tr > td:nth-child(2),
table.apps-table > thead > tr > th:nth-child(2) {
	border-right: 1px solid var(--sbc);
}

td {
	width: min-content;
}

