* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--pbc: #f0f5f9;
	--sbc: #c9d6df;
	--ptc: #1e2022;
	--stc: #52616b;
	--highlight: rgba(82, 97, 107, 0.3);
	--success: green;
	--error: red;
	--br: 15px;
}

body {
	background-color: var(--pbc);
	color: var(--ptc);
}

nav {
	background-color: var(--sbc);
}

.btn {
	background-color: var(--sbc);
	color: var(--stc);
}

.btn:hover {
	background-color: var(--sbc);
}

.preloader {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-direction: column;
}

.menu-icon {
	cursor: pointer;
}

main {
	margin-top: 2rem;
}

.host-link {
	text-decoration: none;
	color: var(--text-color);
}

ul.collapsible {
	box-shadow: none;
}

span.new.badge {
	background-color: var(--stc);
}

.underline {
	border-bottom: 1px solid var(--stc);
	padding-bottom: 10px;
}

.btn.danger {
	background-color: var(--error);
	color: white;
}

.custom-scroll::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.5rem;
}

.custom-scroll::-webkit-scrollbar-track {
	background-color: var(--pbc);
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: var(--sbc);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
	background-color: var(--highlight);
}

